{%- extends "/base.html" %}

{% block title %}Retrivr - Login{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron login_jumbo">
            <h1>Sign in to interact with Retrievr</h1>
            <p>Note: Your data isn't going anywhere.</p>
        </div>
        <div class="col-md-12" style="margin-top: 0px">
            <div class="row login_body">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <form method="post" action="/web/login/">
                            <label for="login">username / email</label>
                            <input type="text" class="form-control" name="login" id="login" autofocus="autofocus"/>
                            <label for="password">password</label>
                            <input type="password" class="form-control" name="password" id="password" />
                            <button type="object" role="button" class="login btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}