{%- extends "base.html" %}

{% block title %}Retrivr - Login{% endblock %}

{% block head %}
    {{ super() }}
    {% if not u_name %}
        <script type="text/javascript" src="{{ url_for('static', filename='src/js/ytloader.js') }}"></script>
    {% endif %}
{% endblock %}

{% block content %}
<div style="position: fixed; z-index: -99; width: 100%; height: 100%;">
    <div id="yt-wrap"></div>
    <div id="ytplayer"></div>
  </div>
  <div style="position: fixed;
              z-index: -98;
              width: 100%;
              height: 100%;" class="bg-fun{{ ' bg-fun-2' if not u_name else ''}}"></div>
    <div class="container-fluid">        
        <!-- {% if u_name %}
            <div class="b_content">Hello {{ u_name }}</div>
            <div>
                <a href="/web/logout/">Click here to logout</a>
            </div>
        {% else %}
            <div>
                <a href="/web/login/">Click here to login</a>
            </div>
        {% endif %} -->
        <div class="row">
            <div class="col-md-2 vtop sidebar" style="position: fixed; background: black; height: 100%">
                <nav aria-label="Main">
                    <div class="fun_top" role="banner">
                        <i class="fas fa-dog" style="font-size: 20px; vertical-align: middle"></i>
                        <span>Retrievr</span>
                    </div>
                    <ul class="side-bar-links">
                        <li>
                            <a class="link-subtle" draggable="false">
                                <div class="icon">
                                    <svg viewBox="0 0 512 512" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M 256.274 60.84 L 84.324 166.237 L 84.324 443.063 L 193.27 443.063 L 193.27 293.73 L 320.228 293.73 L 320.228 443.063 L 428.222 443.063 L 428.222 165.476 L 256.274 60.84 Z M 256.274 35.95 L 448.452 149.145 L 448.452 464.395 L 300 464.395 L 300 315.062 L 213.499 315.062 L 213.499 464.395 L 64.095 464.395 L 64.095 150.161 L 256.274 35.95 Z" fill="currentColor"></path></svg>
                                </div>
                                <span class="ellipsis-one-line">Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="link-subtle" draggable="false">
                                <div class="icon">
                                    <svg viewBox="0 0 512 512" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M349.714 347.937l93.714 109.969-16.254 13.969-93.969-109.969q-48.508 36.825-109.207 36.825-36.826 0-70.476-14.349t-57.905-38.603-38.603-57.905-14.349-70.476 14.349-70.476 38.603-57.905 57.905-38.603 70.476-14.349 70.476 14.349 57.905 38.603 38.603 57.905 14.349 70.476q0 37.841-14.73 71.619t-40.889 58.921zM224 377.397q43.428 0 80.254-21.461t58.286-58.286 21.461-80.254-21.461-80.254-58.286-58.285-80.254-21.46-80.254 21.46-58.285 58.285-21.46 80.254 21.46 80.254 58.285 58.286 80.254 21.461z" fill="currentColor" fill-rule="evenodd"></path></svg>
                                </div>
                                <span class="ellipsis-one-line">Search</span>
                            </a>
                        </li>
                        <li>
                            <a class="link-subtle" draggable="false">
                                <div class="icon">
                                    <svg viewBox="0 0 512 512" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M291.301 81.778l166.349 373.587-19.301 8.635-166.349-373.587zM64 463.746v-384h21.334v384h-21.334zM192 463.746v-384h21.334v384h-21.334z" fill="currentColor"></path></svg>
                                </div>
                                <span class="ellipsis-one-line">Your Library</span>    
                            </a>
                        </li>
                    </ul>
                    
                    
                    
                    <div class="rootlist">
                        <div class="Rootlist__content">
                            <h1 as="h1" class="Rootlist__playlists-header">
                                PLAYLISTS
                            </h1>
                        </div>
                    
                    </div>
                    <div>

                    </div>
                </nav>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-10 vtop" style="height: 100%;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12" style="width: 100%;
                                                      margin: 0px -15px;
                                                      background: rgba(0,0,0,0.5);
                                                      position: fixed;">
                            {% if u_name %}
                                <div class="b_content">
                                    <button class="btn interactive"
                                            role="button"
                                            type="button"
                                            id="login_button"
                                            onclick="location.href = '/web/logout/';">
                                        LOG OUT OF {{ u_name }}
                                    </button>
                                </div>
                            {% else %}
                                <div>
                                    <button class="login_button" 
                                            role="button" 
                                            type="button" 
                                            id="login_button"
                                            onclick="location.href = '/web/login/';">
                                        LOG IN
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}